<html>
    <head>
    </head>
    <body>
        <img class="aboutbanner", src="http://i.imgur.com/C6CAUSk.png">
        <h1 class="abouttitle">We have more than 30 years of professional concrete experience 
        making homeowners' dreams come true. We do...</h1>
        <ul class="aboutul">
            <li class="aboutli">Concrete Upgrades</li>
            <li class="aboutli">Stairs</li>
            <li class="aboutli">Patios</li>
            <li class="aboutli">Remodels</li>
            <li class="aboutli">Sidewalks</li>
            <li class="aboutli">And More!</li>
        </ul>
    </body>
</html>