<html>
    <head>
    </head>
    <body>
        <img class="homebanner", src="http://i.imgur.com/can1Xk8.jpg">
        <div class="hometext">
            <h1>You dream it. We pour it. Simple as that.</h1>
        </div>
        <div class="hometextpara">
            <p>There's no job too big or too small for ABC Concrete, LLC, 
                Spokane's premier concrete contractor! With more than 30 years 
                of experience, ABC Concrete can take care of patios, drives, 
                stairs, remodels, sidewalks, garages, sport courts with broom, 
                aggregate or stamped concrete techniques! Call ABC today to lay 
                a solid foundation.</p>
            </div>    
        <p class="hometextpara">
</p>
    </body>
</html>