<html>
    <head>
    </head>
    <body>
        <div class="slideshow-container">
          <div class="mySlides fade">
            <div class="numbertext">1 / 10</div>
            <img src="http://i.imgur.com/SNGuXLg.jpg" style="width:100%">
            <div class="text"></div>
          </div>
        
          <div class="mySlides fade">
            <div class="numbertext">2 / 10</div>
            <img src="http://i.imgur.com/RaDijZ9.jpg" style="width:100%">
            <div class="text"></div>
          </div>
        
          <div class="mySlides fade">
            <div class="numbertext">3 / 10</div>
            <img src="http://i.imgur.com/3eGFo5s.jpg" style="width:100%">
            <div class="text"></div>
          </div>
          <div class="mySlides fade">
            <div class="numbertext">4 / 10</div>
            <img src="http://i.imgur.com/W4Ma7jQ.jpg" style="width:100%">
            <div class="text"></div>
          </div>
          <div class="mySlides fade">
            <div class="numbertext">5 / 10</div>
            <img src="http://i.imgur.com/i3yJwPh.jpg" style="width:100%">
            <div class="text"></div>
          </div>
          <div class="mySlides fade">
            <div class="numbertext">6 / 10</div>
            <img src="http://i.imgur.com/cWpx82x.jpg" style="width:100%">
            <div class="text"></div>
          </div>
          <div class="mySlides fade">
            <div class="numbertext">7 / 10</div>
            <img src="http://i.imgur.com/j2valrb.jpg" style="width:100%">
            <div class="text"></div>
          </div>
          <div class="mySlides fade">
            <div class="numbertext">8 / 10</div>
            <img src="http://i.imgur.com/ujuhIAf.jpg" style="width:100%">
            <div class="text"></div>
          </div>
          <div class="mySlides fade">
            <div class="numbertext">9 / 10</div>
            <img src="http://i.imgur.com/vbiVzjn.jpg" style="width:100%">
            <div class="text"></div>
          </div>
          <div class="mySlides fade">
            <div class="numbertext">10 / 10</div>
            <img src="http://i.imgur.com/W66Qa1b.jpg" style="width:100%">
            <div class="text"></div>
          </div>
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
        
        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
          <span class="dot" onclick="currentSlide(3)"></span> 
        </div>
    </body>
</html>