<html>
 <head>
   <h1 class="workhead">It speaks for itself...</h1>
 </head>
 <body>
   <div class="container workcontainer">
     <div class="row">
       <div class="col-md-12">
        <div class="gallery cf">
          <div>
            <img src="http://i.imgur.com/SNGuXLg.jpg" />
          </div>
          <div>
            <img src="http://i.imgur.com/RaDijZ9.jpg" />
          </div>
          <div>
            <img src="http://i.imgur.com/3eGFo5s.jpg" />
          </div>
          <div>
            <img src="http://i.imgur.com/W4Ma7jQ.jpg" />
          </div>
          <div>
            <img src="http://i.imgur.com/i3yJwPh.jpg" />
          </div>
          <div>
            <img src="http://i.imgur.com/cWpx82x.jpg" />
          </div>
          <div>
            <img src="http://i.imgur.com/j2valrb.jpg" />
          </div>
          <div>
            <img src="http://i.imgur.com/ujuhIAf.jpg" />
          </div>
          <div>
            <img src="http://i.imgur.com/vbiVzjn.jpg" />
          </div>
          <div>
            <img src="http://i.imgur.com/no8bevzb.jpg" />
          </div>
        </div>
       </div>
     </div>
   </div>
 </body>
</html>