/** Navbar CSS **/
.navbar {
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    width: 100%;
    position: relative;
    margin:0 auto;
    background-color: #A52A2A;
    color: white;
    margin-top: 15px;
}
li {
    display: inline;
}
.navbarul {
    list-style-type: none;
    padding: 10px;
    margin-top: 5px;
}
.navbarli {
    padding: 20px;
    color: white;
}
.navbarli:hover {
    color:black;
}

/** Home Banner **/
.homebanner {
    border-radius: 17%;
    position: relative;
    display: block;
    float: left;
    width: 35%;
    margin-left: 30px;
    margin-top: 40px;
    border-left: solid 10px;
    border-top: solid 10px;
    border-top-color: #A52A2A;
    border-left-color: #A52A2A;
}
.hometext {
    padding-top: 65px;
    font-family: 'Raleway';
    text-align: center;
    font-weight: bold;
}
.hometextpara {
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;
    float: right;
    width: 55%;
    padding-right: 100px;
    line-height: 2.5;
}
body {
    background-color: #F5F5DC;
    margin: auto;
}

/** About Page **/
.aboutbanner {
    margin-top: 55px;
    margin-left: 262px;
    border-radius: 12%;
    position: relative;
    display: block;
    border-left: solid 5px;
    border-top: solid 5px;
    border-top-color: #A52A2A;
    border-left-color: #A52A2A;
}

.abouttitle {
    padding-top: 25px;
    font-family: 'Raleway';
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.aboutul {
    font-family: 'Raleway';
    text-align: center;
    font-size: 30px;
}
.aboutli {
    margin: 30px;
}

/* Contact page */
.well {
  background-color: #FFFAFA;
  margin-bottom: 20px
}
.row {
  margin-top: -335px;
}
.contactbanner, .contactcall, .contactcall2{
  font-family: 'Raleway';
}
.contactbanner {
  text-align: center;
  font-size: 40px;
}
.contactcall {
  font-size: 40px;
  margin-left: 125px;
}
.contactcontact {
  font-family: 'Roboto';
  font-size: 35px;
  margin-left: 160px;
  color: #A52A2A;
}
.contactcall2 {
  font-size: 40px;
  margin-left: 125px;
}
.contactcall3 {
  font-family: 'Roboto';
  font-size: 20px;
  margin-left: 170px;
}

/* Work Page */
.workhead {
  font-family: 'Raleway';
  text-align: center;
  font-size: 35px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gallery {
  width: 640px;
  margin: 0 auto;
  margin-top: 35px;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 200px;
  height: 200px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
